<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <p>Project portfolio on github.com:</p>
    <a href="{{projectsUrl}}" target="_blank">{{githubUser}}</a>
    {{> footer}}
</body>
</html>